
<% if !@performers.nil? %>

	<% if @performers["performers"].length == 0 %>
		<div class="well">
	<% end %>
	



<h2>Search Results</h2>

<% if @performers["performers"].length == 0 %>
	No results found.
	</div>
<% end %>

<% end %>

<ul class="thumbnails per3">



<% @performers["performers"].each do |performer| %>
	
	<li class="span4">
		<div class="thumbnail center">
			<% if performer["images"]["large"].nil? %>
				<%= image_tag("brokenimage.png") %>
			<% else %>
				<%= image_tag(performer["images"]["large"]) %>
			<% end %>
			<h4> <%= performer["name"] %> </h4>
				<%= link_to 'Add', line_items_path(performer_id: performer["id"], name: performer["name"], ticket_url:performer["url"], image_url: performer["images"]["large"]), :method => :post, :class=>"btn btn-large btn-primary center" %>
			</h4>
		</div>
	</li>

<% end %>
</div>

<div class="footer">
	<h4> Powered by <%= link_to image_tag("seatgeek-small.png"), "http://www.seatgeek.com", :class=>"imageLink" %> </h4>
</div>
</ul>

