<h2>Your Interests</h2>

<ul class="thumbnails per3">

	<% @performers.each do |performer| %>
		<li class="span4">
			<div class="thumbnail center">
				<% if performer.image_url.nil? %>
					<%= image_tag("brokenimage.png") %>
				<% else %>
					<%= image_tag(performer.image_url) %>
				<% end %>
				<h4 class="center"> <%= performer.name %> </h4>
				<%= link_to 'Buy Tickets', performer.ticket_url, :method => :post, :class=>"btn btn-success" %>
				<%= link_to 'Delete', bucket_path(@bucket, performer_id:performer.id), :method => :delete, :class=>"btn btn-danger", remote: true %>		
			</div>
		</li>
	
	<% end %>

</ul>

<%= link_to 'Enter more interests', search_path, :class=>"btn btn-primary btn-large" %> 